<a routerLink="/purchaseorder/add" class="btn">Add Purchase Order</a>


<div class="control-section">
    <ejs-grid [dataSource]='purchaseOrders'  allowPaging='true' [allowSorting]="true"  [allowFiltering]="true" [filterSettings]='filterSettings'  [pageSettings]='pageSettings'>
      <e-columns>
          <e-column field='id' [filter]='filter' headerText='Order ID' width='120'  isPrimaryKey='true' [validationRules]='idrules'></e-column>
          <e-column field='customerID' headerText='Customer ID' width='150'  [validationRules]='customeridrules'></e-column>
          <e-column field='employeeID' headerText='Employee ID' width='150'  ></e-column>
          <e-column field='shipName' headerText='Ship Name' width='180'  ></e-column>
          <e-column field='shipCity' headerText='Ship City' width='120'  ></e-column>
          <e-column field='shipAddress' headerText='Ship Address' width='220' ></e-column>
          <e-column    width=250>
            <ng-template #template let-data>
                <a [routerLink]="['/purchaseorder', data.id, 'edit']" class="btn">Edit</a>
                &nbsp;&nbsp;
                <button class="btn btn-del" (click)="delete(data.id)">Delete</button>
            </ng-template>
        </e-column> 
      </e-columns>
      
  </ejs-grid>
  </div>
